@media screen and (max-width: 600px) {
    .banner-selection ul, .popular-tour {
        flex-direction: column;
    }
    .banner{
        padding: 5px;
    }
    .banner-content button, select{
        width: 100%;
    }
    .popular-tour-content{
        width: 100%;
    }
    .popular-tour-img img{
        width: 100%;
    }

}